/* .character {
    background: white;
    padding: .8rem;
    margin:.5rem;
    width:25%;
    border-radius: 10px;
    box-shadow: 0 0.5rem darkslategrey;
}

.appeared {
    margin-top:1.25rem;
}
.appeared h3{
    text-decoration: underline;
    font-size: 1.4rem;
}
.film {
    color: red;
}
p{

    font-size: .8rem;
}
    
 */
